################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBREngine/Debug
/CBREngine/Debug
/CBREngine/x64
/EngineTest/Debug
/EngineTest/x64
/ipch
/x64
*.user
*.obj
*.sdf
*.opensdf
/Alchemy/alchemy/alchemy/Debug
/Alchemy/alchemy/Debug
*.suo
/Alchemy/data/~$LetterFreq.xlsx
/MistThread/Debug
/MistThread/x64
/MistThread/MistThread.aps
